
  @media (max-width : 767px) {
    .sidenav{
        display: none;
        height: auto;
    }

    .mnav nav .itemdiv ul{

      flex-direction: column;
       background-color: black;
       width: 100%;
  
    }


    .mnav nav .itemdiv ul li a{

      color: rgb(255, 255, 255);
       
  
    }
    .mnav nav .itemdiv{
      z-index: 1;
      width: 58%;
      position: absolute;
      left: -100%;
      top: 55px;
      text-align: center;
      transition-duration: 1s;
      overflow: auto;
    }
    
    .mnav nav  .bar{
      display: block;
    }

    .headernav .logo #menu{
      display:block;
    }
   
    .mnav .itemdiv ul li{
      border-bottom: 1px solid
    }


   
}

@media (max-width : 320px) {
  .headernav .logo #login {

    padding: 3px;
   
    margin-right: 11px;
  
}
  
}

@media (max-width : 280px) {
  
.headernav .logo #login {
  margin-right: -15px;
  border: none;
}
}